<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <!--a class="logo navbar-brand" href="#">AF</a-->
      <a class="logo navbar-brand" href="/">AF</a>
    </mdb-navbar-brand>
    <!--insert vertical line to separate mdb-navbar-brand against links-->
    <!--pressing the logo induces a bug where the logo is slightly cut off-->
    <links>
      <ul class="navbar-nav mr-auto">
        <!--li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li-->
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Experience</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Education</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-strava fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-github fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="far fa-envelope fa-lg"></i>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>